---
import {CV_DATA} from '../data/cv';
import LinkButton from "./common/LinkButton.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import GitHub from "./icons/GitHub.astro";
import Email from "./icons/Email.astro";
import Phone from "./icons/Phone.astro";
import Globe from "./icons/Globe.astro";

import {Image} from 'astro:assets'
import avatarImage from '../assets/avatar.jpeg';

const {name, about, personalWebsiteUrl, contact, location, locationLink, avatarUrl} = CV_DATA;
---
<header class="flex items-center justify-between">
    <div class="flex-1 space-y-1.5">
        <h1 class="text-2xl font-bold" id="cv-name">
            {name}
        </h1>
        <p class="max-w-md text-pretty font-mono text-sm text-foreground/80 print:text-[12px]">
            {about}
        </p>
        <p class="max-w-md items-center text-pretty font-mono text-xs text-foreground">
            {location && (
                <a class="inline-flex gap-x-1.5 align-baseline leading-none hover:underline"
                   href={locationLink}
                   target="_blank"
                   rel="noopener noreferrer"
                   aria-label={`Location: ${location}`}>
                    <Globe class="size-3"/>
                    {location}
                </a>
            )}
        </p>
        <div class="flex list-none gap-x-1 pt-1 font-mono text-sm text-foreground/80 print:hidden"
             aria-label="Contact links">
            {personalWebsiteUrl && (
                <LinkButton href={personalWebsiteUrl} ariaLabel="Website">
                    <Globe class="size-4"/>
                </LinkButton>
            )}
            {contact.email && (
                <LinkButton href={`mailto:${contact.email}`} ariaLabel="Email">
                    <Email class="size-4"/>
                </LinkButton>
            )}
            {contact.tel && (
                <LinkButton href={`tel:${contact.tel}`} ariaLabel="Phone">
                    <Phone class="size-4"/>
                </LinkButton>
            )}
            {contact.social?.map(social => (
                <LinkButton href={social.url} ariaLabel={social.name}>
                    {social.name === 'GitHub' ? <GitHub class="size-4"/> : 
                     social.name === 'LinkedIn' ? <LinkedIn class="size-4"/> : 
                     <Globe class="size-4"/>}
                </LinkButton>
            ))}
        </div>
        <div class="hidden gap-x-2 font-mono text-sm text-foreground/80 print:flex print:flex-wrap gap-y-1 print:text-[12px]">
            {personalWebsiteUrl && (
                <>
                    <a class="underline hover:text-foreground/70" href={personalWebsiteUrl}>
                        {personalWebsiteUrl}
                    </a>
                    <span aria-hidden="true">|</span>
                </>
            )}
            {contact.email && (
                <>
                    <a class="underline hover:text-foreground/70" href={`mailto:${contact.email}`}>
                        {contact.email}
                    </a>
                    <span aria-hidden="true">|</span>
                </>
            )}
            {contact.tel && (
                <a class="underline hover:text-foreground/70" href={`tel:${contact.tel}`}>
                    {contact.tel}
                </a>
            )}
            {contact.social?.map((social, index) => (
                <>
                    {index === 0 && <span aria-hidden="true">|</span>}
                    <a class="underline hover:text-foreground/70" href={social.url}>
                        {social.url}
                    </a>
                    {index < contact.social.length - 1 && <span aria-hidden="true">|</span>}
                </>
            ))}
        </div>
    </div>
    <span class="relative flex shrink-0 overflow-hidden rounded-xl size-28"
          aria-hidden="true">
        {avatarUrl ? (
            <img class="aspect-square h-full w-full object-cover" alt={`${name}'s profile picture`} src={avatarUrl}/>
        ) : (
            <Image class="aspect-square h-full w-full" alt={`${name}'s profile picture`} src={avatarImage}/>
        )}
    </span>
</header>