---
import {CV_DATA} from '../data/cv';
import LinkButton from "./common/LinkButton.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import GitHub from "./icons/GitHub.astro";
import Email from "./icons/Email.astro";
import Phone from "./icons/Phone.astro";
import Globe from "./icons/Globe.astro";

import {Image} from 'astro:assets'
import avatarImage from '../assets/avatar.jpeg';

const {name, about, personalWebsiteUrl, contact, location, locationLink} = CV_DATA;
---
<header class="flex items-center justify-between">
    <div class="flex-1 space-y-1.5">
        <h1 class="text-2xl font-bold" id="cv-name">
            {name}
        </h1>
        <p class="max-w-md text-pretty font-mono text-sm text-foreground/80 print:text-[12px]">
            {about}
        </p>
        <p class="max-w-md items-center text-pretty font-mono text-xs text-foreground">
            <a class="inline-flex gap-x-1.5 align-baseline leading-none hover:underline"
               href={locationLink}
               target="_blank"
               rel="noopener noreferrer"
               aria-label={`Location: ${location}`}>
                <Globe class="size-3"/>
                {location}
            </a>
        </p>
        <div class="flex list-none gap-x-1 pt-1 font-mono text-sm text-foreground/80 print:hidden"
             aria-label="Contact links">
            <LinkButton href={personalWebsiteUrl} ariaLabel="Website">
                <Globe class="size-4"/>
            </LinkButton>
            <LinkButton href={`mailto:${contact.email}`} ariaLabel="Email">
                <Email class="size-4"/>
            </LinkButton>
            <LinkButton href={`tel:${contact.tel}`} ariaLabel="Phone">
                <Phone class="size-4"/>
            </LinkButton>
            <LinkButton href={contact.social[0].url} ariaLabel={contact.social[0].name}>
                <GitHub class="size-4"/>
            </LinkButton>
            <LinkButton href={contact.social[1].url} ariaLabel={contact.social[1].name}>
                <LinkedIn class="size-4"/>
            </LinkButton>
        </div>
        <div class="hidden gap-x-2 font-mono text-sm text-foreground/80 print:flex print:flex-wrap gap-y-1 print:text-[12px]">
            <a class="underline hover:text-foreground/70" href={personalWebsiteUrl}>
                {personalWebsiteUrl}
            </a>
            <span aria-hidden="true">|</span>
            <a class="underline hover:text-foreground/70" href={`mailto:${contact.email}`}>
                {contact.email}
            </a>
            <span aria-hidden="true">|</span>
            <a class="underline hover:text-foreground/70" href={`tel:${contact.tel}`}>
                {contact.tel}
            </a>
            <a class="underline hover:text-foreground/70" href={contact.social[0].url}>
                {contact.social[0].url}
            </a>
            <span aria-hidden="true">|</span>
            <a class="underline hover:text-foreground/70" href={contact.social[1].url}>
                {contact.social[1].url}
            </a>
        </div>
    </div>
    <span class="relative flex shrink-0 overflow-hidden rounded-xl size-28"
          aria-hidden="true">
        <Image class="aspect-square h-full w-full" alt={`${name}'s profile picture`} src={avatarImage}/>
    </span>
</header>